*{
    max-width: 1800px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Volkhov', serif;
    /* font-family: 'Source Sans Pro', sans-serif; */
}

.title1{
    color: #fb811e;
    font-size: 22px;
}
.title2{
    font-weight: 600;
    color: #060606;
    font-size: 40px;
    padding-bottom: 20px;
}

.text-para{
    color: #707070;
    font-size: 17px;
    line-height: 29px;
    font-family: 'Source Sans Pro', sans-serif !important;
    text-align: justify;
}

.btn-style{
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    padding: 12px 30px;
    font-weight: 600;
    background-color: #fb811e;
    border: none;
    color: #fff;
    border-radius: 30px;
    transition: all 0.5s;
}
.btn-style:hover{
    background-color: #009f4d !important;
    color: #ffffff !important;
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}



/* header */

.header{
    background-color: transparent;
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
    position: absolute !important;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}


.header .header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header-content .logo h1 a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #fb811e;
    transition: all 0.5s;
    display: flex !important;
    position: relative;
    align-items: center !important;
    padding: 0px;
    font-weight: 600;
    }

.header .header-content .logo h1 i{
    position: absolute;
    top: -0.4rem;
    left: 3.5rem;
    font-size: 1.2rem;
}

.header .header-content .logo h1 a:hover {
    color: black;
}

.header .header-content nav a{
    text-decoration: none;
    color: #ffffff;
    margin-right: 1.5rem;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 0.7rem;
    transition: all 0.5s;
    
}

.header .header-content nav a:hover {
    color: #fb811e;
   
}


/* carousel */


.carousel .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-right: -15px;
    
    margin-left: -15px;
}

.carousel .row .banner-left{
    width: 50%;
    position: absolute;
    left: 10em;
    z-index: 1;
}

.carousel .row .banner-left .farm-text{
    color: #f4f4f4;
    font-size: 5rem;
    font-weight: bold;
    margin-left: -3rem !important;
    margin-top: -4rem;
}

.carousel .row .banner-left .banner-content h3{
    font-size:45px;
    line-height: 60px;
    font-weight: bold;
    margin-top: -3rem;
}

.carousel .row .banner-left .banner-content .content-text{
    color: #707070;
    font-size: 20px;
    font: weight 1px;;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    font-family: 'Source Sans Pro', sans-serif !important;
}

.carousel .row .banner-right{
    width: 60%;
    padding: 0 !important;
    margin-left: auto !important;
    position: relative;
}

.carousel .banner-right .slider .carousel-indicators [data-bs-target]{
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background-color: white;
    opacity: 1;
    margin-right: 0.5rem;
    cursor: pointer;
} 

.carousel .banner-right .slider .carousel-indicators .active{
    background-color: #fb811e !important;
    opacity: 1;
 }

 .carousel .banner-right .carousel-inner .carousel-item{
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    width: 100%;
    border-radius: 0rem 0rem 0rem 2rem;
}




 .carousel .banner-right .carousel-inner .carousel-item img{
    border-radius: 0rem 0rem 0rem 2rem; 
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    
 }

 .carousel .banner-right .carousel-inner{
    position: relative;
 }

 .carousel .banner-right .carousel-inner .carousel-caption{
    top: 700px;
    left: 700px;    
    font-size: 16px;
    align-items: center;
    
 }

 
/* work */
.work{
    padding-top: 100px;
    padding-bottom: 100px;
}

.work .row{
    display:flex ;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}
    
.work .row .col-left{
    position: relative;
    width: 45%;

}


.work .row .col-right{
    width: 50%;

    
}

.work .row .col-right .item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    
}
.work .row .col-right .item .item-child{
    padding: 1.5rem;
    text-align:center ;
    border-radius: 30px;
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 3%);
    transition: all 0.5s;
}
.work .row .col-right .item .item-child:hover{
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 11%);
}

.work .row .col-right .item .item-child .icon img{
    max-width: 65px;
    display: block;
    margin: 0 auto;
    
}
.work .row .col-right .item .item-child h4{
    font-size: 20px;
    font-weight: 600;
    color: #060606;
    transition:all 0.5s;
}

.work .row .col-right .item .item-child a{
    font-size: 20px;
    line-height: 28px;
    margin-top: 25px;
    display: block;
    color: #060606;
    text-decoration: none;
}

.work .row .col-right .item .item-child a:hover  h4{
    color: #009f4d;
}

/* services */
.services {
    background-color: #009f4d;
    position: relative;
    padding: 60px 0;
    border-top: 50px solid #009f4d;
    border-bottom: 50px solid #009f4d;
    
    
}
.services .title .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;
}

.services .title .title-content{
    position: absolute;
    color: #ffffff;
    font-weight: bold;
    z-index: 0;
    opacity: .14;
    font-size: 12vw;
    right: 50%;
    left: 0;
    bottom: 80%;
    transform: translate(50%, 50%);
}


.services .title .row .col-left{
    width: 50%;
}

.services .title .row .col-left h5{
    color: #ffffff;
    font-size: 20px;
} 

.services .title .row .col-left h3{
    color:#ffffff;
    font-size: 40px;
    font-weight: 600;
}


.services .title .row .col-right{
    width: 50%;
}
.services .title .row .col-right p{
    color: #ffffff;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif !important ;
}

.services .content{
    display: flex;
    justify-content: center !important;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    
}

.services .content .col{
    max-width: 33.3333%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.services .content .col .item{
    border: none;
    background: none;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border-radius: 0.25rem;
}



.services .content .col .item .main{
    background-color:#ffffff ;
    padding: 30px 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 25px 98px 0 rgb(19 19 19 / 3%);
    border: 1px solid #eeeeee;
    border-top: none;
}

.services .content .col .item .main .label-style{
    color: #009f4d;
    display: inline-block;
    background: rgb(0 159 77 / 16%);
    padding: 5px 20px;
    border-radius: 15px;
    font-weight: 600;
}

.services .content .col .item .main a{
    text-decoration: none;
    display: block;
    color: #060606;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    margin: 15px 0;
    transition: all 0.5s;
}

.services .content .col .item .main a:hover{
    color:#009f4d;
}

.services .content .col .item .main p{
    font-size: 16px;
    color: #707070;
    font-family: 'Source Sans Pro', sans-serif !important ;
}

.services .content .col .item .image img{
    width: 100%;
    border-radius: 20px 20px 0px 0px;

}

/* quality */
.quality{
    padding-top: 60px;
    padding-bottom: 60px;
}

.quality .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.quality .row .col-left{
    width: 50%;
}

.quality .row .col-left .item{
    display: flex !important;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-right: -15px;
    
}

.quality .row .col-left .item .item-child{
    display: flex !important;
    max-width: 50%; 
    
}

    

.quality .row .col-left .item .item-child .detail{
    margin-left: 10px;
}

.quality .row .col-left .item .item-child .detail h4{
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 600;
}

.quality .row .col-left .item .item-child .detail p{
    color: #707070;
    font-family: 'Source Sans Pro', sans-serif !important ;
    font-size: 17px;
    
   

}

.quality .row .col-left .item .item-child span{
    color: #fb811e;
    font-size: 30px;
}


.quality .row .col-right{
    width: 40%;
    position: relative !important;
}

.quality .row .col-right .imginfo{
    background-color:#fb811e;
    color: #ffffff;
    position: absolute;
    left: -85px;
    bottom: 38px;
    padding: 40px;
    box-shadow: 30px 30px 30px rgb(0 0 0 / 20%);
    min-width: 300px;
    border-radius: 0 0 100px 0;
    text-align: center;
}

.quality .row .col-right .imginfo p{
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .2px;
}

.quality .row .col-right .imginfo .imginfo-title{
    font-size: 70px;
    line-height: 80px;
    color: #ffffff;
    font-weight: 600;
}

.quality .row .col-right img{
    max-width: 100%;
    border-radius: 30px;
}

/* Menu */
.menu{
    width: 100%;
}

.menu .row{
    display: flex !important;
    justify-content: space-between;
    align-items: center !important;
    flex-wrap:wrap;
    margin-left: 30px;
}

.menu .row .item{
    width: 30%;
    margin: 30px 0px;
    padding: 0 0px 0 20px ;
    transition: all 0.5s;
    border: 1px solid transparent;
    border-radius: 20px;
   
}


.menu .row .item a{
    display: flex !important;
    text-decoration: none;  
    cursor: pointer;  
    padding: 30px 10px;
}

.menu .row .item:hover {
    border: 1px solid #eeeeee;
    border-radius: 20px;
    background-color: #ffffff;
    
}

.menu .row .item a .col-left{
    max-width: 30%;
    padding: 0px 15px;
}

.menu .row .item .image img{
    width: 100%; 
}

.menu .row .item a .col-right{
   margin-left: 20px;
   width: 70%;
}

.menu .row .item a .col-right h4{
    font-size: 22px;
    color: #060606;
    font-weight: 600;
    transition: all 0.5s;
}

.menu .row .item a:hover h4{
    color: #009f4d;
}

.menu .row .item a .col-right p{
    color: #707070;
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif !important ;
}

/* gallery */

.gallery{
    display: grid;
    grid-gap: 10px;
    padding: 60px 0px;
}

.gallery .gallery-container{
    max-width: 100%;
    margin: 0px 50px;
    
}


.gallery .gallery-row{
    display: flex;
    flex-wrap: wrap;
}

.gallery .gallery-row .gallery-col{
    width: 25%;
}

.gallery .gallery-row .gallery-col .item1 h5{
    margin-bottom: 0px;
}
.gallery .gallery-row .gallery-col .item1 h3{
    margin-bottom: 0px;
}
.gallery .gallery-row .gallery-col .item1 p{
    text-align: left;
    margin: 0px;
    padding: 0px;

}


.gallery .gallery-row .gallery-col figure{
    overflow: hidden;
    position: relative;
    margin: 0;
}

.gallery .gallery-row .gallery-col img{
    width: 100%;
    height: 100%;
}

.gallery .gallery-row .gallery-col .item figure h5{
    position: absolute;
    z-index: 0;
    color: #fff;
    bottom: 0;
    font-weight: bold;
    background: rgb(255 255 255 / 27%);
    padding: 6px;
    text-align: center;
    left: 0;
    right: 0;
    margin: 20px;
}

figure::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    transform: skewX(-17deg);
}
figure:hover::before {
    animation: shine .95s;
}
@keyframes shine {
    100% {
      left: 125%;
    }
  }

/* commit */
.commit{
    padding: 60px 0px;
   
}

.commit .carousel-inner .carousel-item .carousel-caption{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    bottom: 50%;
    transform: translateY(50%);
    z-index: 2;}

.commit .carousel-inner .carousel-item img{
    object-fit: cover;
    width: 100%;
}

.commit .carousel-caption .img{
    width: 30%;
}

.commit .carousel-caption .text{
    width: 100%;
}

.commit .carousel-caption .img h3{
    font-weight: 600;
    font-size: 20px;
    margin: 10px 0 5px;
    color: #ffffff;
}

.commit .carousel-caption .text span{
    font-size: 40px;
    color:#fb811e;
    font-weight: 600;
    display: inline-block;
    margin-right: ;
}


    

.commit .carousel-caption .img p{
    font-size: 16px;
    color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif !important ;
}



.commit .carousel-caption .text p{
    padding-left: 80px;
    text-indent: 30px;
    font-size: 22px;
    line-height: 34px;
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif !important ;
}

.commit .carousel-caption .img img{
    width: 5rem;
    height: 5rem;
}




.commit .carousel-item::after{
    content: "";
    background: rgb(10 10 10 / 52%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.commit .carousel-indicators [data-bs-target]{
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background-color: white;
    opacity: 1;
    margin-right: 0.5rem;
    cursor: pointer;
} 
.commit .carousel-indicators .active{
    background-color: #fb811e !important;
    opacity: 1;
 }

/* footer */
.footer{
    padding: 60px 0px;
}

.footer-row{
    display: flex;
    width: 100%;
}

.footer-row .footer-col{
    width: 33%;
    margin-left:30px !important ;
}
.footer-row .footer-col h3{
    color: #060606;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 600;
}


.footer-row .footer-col p{
    color: #707070;
    font-family: 'Source Sans Pro', sans-serif !important ;
    font-size: 16px;
}

.footer-row .footer-col h3 a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #fb811e;
    transition: all 0.5s;
    position: relative;
    padding: 0px;
    font-weight: 400;
}

.footer-row .footer-col h3  i{
        position: absolute;
        top: -0.4rem;
        left: 2.8rem;
        font-size: 1rem;
 }

 .footer-col h3 a:hover {
    color: black !important;
}

.footer .footer-row .findus p a{
    text-decoration: none;
    color: #707070;
    transition: all 0.5s;
    font-family: 'Source Sans Pro', sans-serif !important ;
}

.footer .footer-row .findus p a:hover{
    color: #fb811e;
}

.footer .footer-row .coppyright{
    margin-top: 50px;
}

.footer .footer-row .coppyright a{
    text-decoration: none;
    color: #009f4d;
    font-family: 'Source Sans Pro', sans-serif !important ;
    transition: all 0.5s;
}

.footer .footer-row .coppyright a:hover{
    color: #fb811e;
}


.footer .footer-row .new .new-child .subscribe input{
    background: #f4f4f4;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    outline: none;
    width: 80%;
    color: #707070;
    border: 1px solid #eeeeee;
    border-radius: 30px 0px 0px 30px;}

.footer .footer-row .new .new-child .subscribe button{
    background:#009f4d;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 12px 12px;
    cursor: pointer;
    width: 20%;
    color: #ffffff;
    border-radius: 0px 30px 30px 0px;
    transition: all 0.5s;
    }
.footer .footer-row .new .new-child .subscribe button:hover{
        opacity: 0.8;
    }

.footer .footer-row .new .icon{
    margin: 40px 0 0 0;
    padding: 0px;

}

.footer .footer-row .new .icon li{
    list-style: none;
    display: inline;
    margin-right: 20px;
}

.footer .footer-row .new .icon li a{
    text-decoration: none;
    color: #009f4d;
    width: 35px;
    height: 35px;
    background: rgb(10 191 83 / 8%);
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    transition: all 0.5s;
}

.footer .footer-row .new .icon li a span{
    font-size: 16px;
    line-height: 35px;
}

.footer .footer-row .new .icon li a:hover{
    color: #fb811e;
    background: rgb(255 201 69 / 19%);
    box-shadow: 0px 4px 7px 0px rgb(10 10 10 / 24%);
}

    
    



